{% load static %}
<!--footer section start-->
<footer>
    <div class="">
            <div class="col-12">
                <p class="text-center" style="color: #8990a5;"><small>Copyright © 2020 Cricket Demo. All Rights Reserved.</small></p>
            </div>
        </div>
</footer>
<!--footer section end-->
<script src="{% static 'assets/wow/wow.js' %}"></script>
<script src="{% static 'assets/OwlCarousel/js/owl.carousel.min.js' %}"></script>
<script src="{% static 'js/custom.js' %}?v={{js_modified_time}}"></script>
</body>
</html>
