{% load static %}
<!--header-->
{% include 'profile_header.html' %}
<div class="tab_view bg-white px-3 py-2 px-lg-4 pb-md-4" id="saved_address_list">
    <div class="data-table mb-4">
    <form method="GET">
        <div class="row align-items-center mb-2 no-gutters">
            <div class="col-12">
                <h3 class="my-2">{{player.first_name}} {{player.last_name}} - Detail</h3>
            </div>
        </div>
        </form>
        <!--order/draft list start-->
        <form>
            <img src="/media/{{player.image}}" class="mr-3"><br>
            Full Name : {{player.first_name}} {{player.last_name}}<br>
            Team : {{player.team.name}}<br>
            Total Matches : {{player.total_played_matches}}<br>
            Total Runs : {{player.total_runs}}<br>
            100s : {{player.total_centuries}}<br>
            50s : {{player.total_fifties}}<br>
            Best Score : {{player.best_score}}<br>
            Wkts : {{player.total_wickets}}
        </form>
        <!-- <div class="data_table_box">
            <table width="100%" bgcolor="#ffffff" cellpadding="0" cellspacing="0" border="0">
                <tbody>
                    <tr>
                        <th style="min-width: 20px">#</th>
                        <th style="min-width: 25px">Name</th>
                        <th style="min-width: 30px">Total Matches</th>
                        <th style="min-width: 30px">Total Runs</th>
                        <th style="min-width: 25px">Total 100s</th>
                        <th style="min-width: 25px">Total 50s</th>
                    </tr>
                    {% for obj in players %}
                    <tr>                  
                        <td>{{forloop.counter}}</td>                        
                        <td><a href="{% url 'player_detail' obj.id %}">{{obj.first_name}} {{obj.last_name}}</a></td> 
                        <td>{{obj.total_played_matches}}</td>
                        <td>{{obj.total_runs}}</td>
                        <td>{{obj.total_centuries}}</td>
                        <td>{{obj.total_fifties}}</td>
                    </tr>
                    {% endfor %}                    
                </tbody>
            </table>
        </div> -->
    </div>
</div>
</div>
</div>
</section>
<!--footer-->
{% include 'footer.html' %}